# global stuff
*~

# Windows stuff
Thumbs.db

# Mac Stuff
.DS_Store

# R stuff
# N.B. do .Rdata on a dir by dir basis...
.Rproj.user
.Rhistory

# For this module
Readme.html

# for builds in the src directory
src/*.o
src/grmfilm.exe

# Paul Carpenter's src modified by JRM for mac
pc-gmf-src-mod-mac/*.o
pc-gmf-src-mod-mac/gmr





